<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeN.Web" version="1.0.4608.14607" targetFramework="net40" />
  <package id="Owin" version="1.0" targetFramework="net40" />
  <package id="Shouldly" version="1.1.1.1" />
  <package id="xunit" version="1.9.2" targetFramework="net40" />
</packages>