<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gate" version="0.16" targetFramework="net40" />
  <package id="Gate.Middleware" version="0.16" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20726.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20726.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.8" />
  <package id="Owin" version="0.14" targetFramework="net40" />
  <package id="Owin.Startup" version="0.4" targetFramework="net40" />
  <package id="TaskHelpers.Sources" version="0.1" />
</packages>