<?xml version="1.0"?>
$if$ ($targetframeworkversion$ >= 4.0)
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <appSettings>
      <add key="owin:Configuration" value="$safeprojectname$.Startup.Configuration, $safeprojectname$" />
      <add key="owin:SetCurrentDirectory" value="true" />
      <add key="webpages:Enabled" value="false" />
    </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="$targetframeworkversion$" />
$endif$$if$ ($targetframeworkversion$ >= 4.5)      <httpRuntime targetFramework="$targetframeworkversion$" />
$endif$$if$ ($targetframeworkversion$ >= 4.0)      <httpHandlers>
        <clear />
        <add verb="*" path="*" type="Microsoft.Owin.Host.SystemWeb.OwinHttpHandler, Microsoft.Owin.Host.SystemWeb" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
      <handlers>
        <clear />
        <add name="Owin" verb="*" path="*" type="Microsoft.Owin.Host.SystemWeb.OwinHttpHandler, Microsoft.Owin.Host.SystemWeb" />
      </handlers>
      <security>
        <requestFiltering allowDoubleEscaping="true" allowHighBitCharacters="true">
          <fileExtensions allowUnlisted="true">
            <clear />
          </fileExtensions>
          <hiddenSegments>
            <clear />
          </hiddenSegments>
          <verbs allowUnlisted="true" />
        </requestFiltering>
      </security>
    </system.webServer>
$else$
<configuration>
    <appSettings/>
    <connectionStrings/>
    <system.web>
        <compilation debug="true" >

        </compilation>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows" />
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    </system.web>
$endif$</configuration>
