<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Owin.Extensions" version="0.8.4-alpha" targetFramework="net45" />
  <package id="Owin.Types" version="0.8.4-alpha" targetFramework="net45" />
</packages>