<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="owin:Configuration" value="Katana.Performance.ReferenceApp.Startup.Configuration, Katana.Performance.ReferenceApp"/>
    <add key="webpages:Enabled" value="false"/>
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime targetFramework="4.5"/>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <!--<httpHandlers>
      <clear />
      <add verb="*" path="*" type="Microsoft.Owin.Host.SystemWeb.OwinHttpHandler, Microsoft.Owin.Host.SystemWeb" />
    </httpHandlers>-->
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<handlers>
      <clear />
      <add name="Owin" verb="*" path="*" type="Microsoft.Owin.Host.SystemWeb.OwinHttpHandler, Microsoft.Owin.Host.SystemWeb" />
    </handlers>-->
    <modules>
      <add name="Owin" type="Microsoft.Owin.Host.SystemWeb.OwinHttpModule, Microsoft.Owin.Host.SystemWeb"/>
      <!-- Remove known modules by name, Clear breaks for locked modules-->
    </modules>
    <security>
      <requestFiltering allowDoubleEscaping="true" allowHighBitCharacters="true">
        <fileExtensions allowUnlisted="true">
          <clear/>
        </fileExtensions>
        <hiddenSegments>
          <clear/>
        </hiddenSegments>
        <verbs allowUnlisted="true"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>