<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.10" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Owin.Extensions" version="0.8.3-alpha" targetFramework="net40" />
  <package id="Owin.Types" version="0.8.3-alpha" targetFramework="net40" />
  <package id="Shouldly" version="1.1.1.1" targetFramework="net40" />
  <package id="TaskHelpers.Sources" version="0.2" targetFramework="net40" />
  <package id="xunit" version="1.9.1" targetFramework="net45" />
  <package id="xunit.extensions" version="1.9.1" targetFramework="net40" />
</packages>