<configuration>
  <appSettings>
    <add key="owin:HandleAllRequests" value="true"/>
    <add key="owin:SetCurrentDirectory" value="true"/>
    <add key="owin:Configuration" value="TheApplicationName"/>
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.0"></httpRuntime>
  </system.web>
</configuration>
