<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    <add key="MyGet - OWIN" value="http://www.myget.org/F/owin/" />
    <add key="MyGet - Gate" value="http://www.myget.org/F/gate/" />
    <add key="MyGet - Katana" value="http://www.myget.org/F/Katana/" />
    <add key="WebStack Nightly" value="http://www.myget.org/f/aspnetwebstacknightly/" />
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
  </activePackageSource>
</configuration>