<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.IdentityModel.Logging" version="5.2.0.407281058-pre" targetFramework="net451" />
  <package id="Microsoft.IdentityModel.Protocols" version="5.2.0.407281058-pre" targetFramework="net451" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="5.2.0.407281058-pre" targetFramework="net451" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.2.0.407281058-pre" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.2.0.407281058-pre" targetFramework="net451" />
</packages>