<?xml version="1.0"?>
<configuration>
  <!--<runtime>
    <appDomainManagerType value="Katana.Engine.CommandLine.DomainManager"/>
    <appDomainManagerAssembly value="Katana.Engine"/>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>-->
</configuration>
