<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <appDomainManagerType value="Katana.Engine.CommandLine.DomainManager" />
    <appDomainManagerAssembly value="Katana.Engine" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Owin" publicKeyToken="f585506a2da1fef4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.12.0.0" newVersion="0.12.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>