
extends layout

block prepend title
  | #{ page.title } - 

block header
  include author
  a.back(href='/') << back to index
  h1= page.title

block content
  include toc
  article.post
    mixin tocDisplayContents(contents.introduction.index, page)
    section.content
      mixin tocAddAnchors(page.html)
