<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gate" version="0.15" targetFramework="net40" />
  <package id="Gate.Middleware" version="0.15" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20505.0" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20505.0" />
  <package id="Microsoft.Net.Http" version="2.0.20505.0" />
  <package id="Newtonsoft.Json" version="4.5.8" />
  <package id="Owin" version="0.14" />
  <package id="Owin.Startup" version="0.3.1" targetFramework="net40" />
</packages>