<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Owin" version="1.0" targetFramework="net40" />
  <package id="Owin.Builder.Sources" version="0.6.3" targetFramework="net40" />
  <package id="Owin.Extensions.Sources" version="0.6.3" targetFramework="net40" />
  <package id="Owin.Loader.Sources" version="0.6.3" targetFramework="net40" />
  <package id="TaskHelpers.Sources" version="0.1" />
</packages>