<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gate.Builder.Sources" version="0.12-ctp3-build0078" />
  <package id="Owin" version="0.11" />
  <package id="Shouldly" version="1.1.1.1" />
  <package id="TaskHelpers.Sources" version="0.1" />
  <package id="xunit" version="1.9.1" />
</packages>