<configuration>
  <system.diagnostics>
    <sources>
      <source name="Microsoft.Owin" switchValue="Verbose">
        <listeners>
          <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>