@using System.Web
@{
    var identity = Context.Authenticate("External").Result;
    if (identity != null)
    {
        Context.SignIn("Application", identity.Claims, identity.NameClaimType, identity.RoleClaimType, true);
        Response.Redirect(Request.QueryString["ReturnUrl"]);
        return;
    }    
}
<p>Your signin failed.</p>
<p><a href="@Request.QueryString["ReturnUrl"]">Go Back</a></p>
