@using System
@using System.Security.Claims
@using System.Web
@using Microsoft.Owin.Security
@{
    if (Request.HttpMethod == "POST")
    {
        var isPersistent = !string.IsNullOrEmpty(Request.Form.Get("isPersistent"));

        if (!string.IsNullOrEmpty(Request.Form.Get("submit.Signin")))
        {
            Context.SignIn("Application", new[] { new Claim(ClaimTypes.Name, Request.Form["username"]) }, ClaimTypes.Name, ClaimTypes.Role, isPersistent);

            return;
        }
        foreach (var key in Request.Form.AllKeys)
        {
            if (key.StartsWith("submit.External.") && !string.IsNullOrEmpty(Request.Form.Get(key)))
            {
                var authType = key.Substring("submit.External.".Length);
                Context.Challenge(
                    new string[] { authType },
                    new AuthenticationExtra
                    {
                        RedirectUrl = "/External?" + Request.QueryString.ToString(),
                        IsPersistent = isPersistent
                    });
                return;
            }
        }
    }
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
</head>
<body>
    <h1>Katana.Sandbox.WebServer</h1>
    <h2>Forms Login</h2>
    <form method="POST">
        <ul>
            <li>
                <label for="username">User name: </label>
                <input type="text" id="username" name="username" /></li>
            <li>
                <label for="password">Password: </label>
                <input type="password" id="password" name="password" /></li>
            <li>
                <input type="checkbox" id="isPersistent" name="isPersistent" checked="checked" />
                <label for="isPersistent">Remember Me</label>
                <input type="submit" name="submit.Signin" value="Sign In" />
            </li>
        </ul>
        <h2>Third Party Login</h2>
        <ul>
            @foreach (var metadata in Context.GetExternalAuthenticationTypes())
            {
                var description = new AuthenticationDescription(metadata.Properties);
                <li>
                    <input type="submit" name="submit.External.@description.AuthenticationType" value="@description.Caption" /></li>
            }
        </ul>
    </form>
</body>
</html>
