<?xml version="1.0"?>
$if$ ($targetframeworkversion$ >= 4.0)
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <appSettings>
      <add key="owin:AppStartup" value="$safeprojectname$.Startup.Configuration, $projectname$" />
      <add key="owin:AutomaticAppStartup" value="true" />
      <add key="webpages:Enabled" value="false" />
    </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="$targetframeworkversion$" />
$endif$$if$ ($targetframeworkversion$ >= 4.5)      <httpRuntime targetFramework="$targetframeworkversion$" />
$endif$$if$ ($targetframeworkversion$ >= 4.0)      
    </system.web>
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
      <modules>
        <remove name="RewriteModule" />
        <remove name="OutputCache" />
        <remove name="Session" />
        <remove name="WindowsAuthentication" />
        <remove name="FormsAuthentication" />
        <remove name="DefaultAuthentication" />
        <remove name="RoleManager" />
        <remove name="UrlAuthorization" />
        <remove name="FileAuthorization" />
        <remove name="AnonymousIdentification" />
        <remove name="Profile" />
        <remove name="UrlMappingsModule" />
        <remove name="ServiceModel-4.0" />
        <remove name="UrlRoutingModule-4.0" />
        <remove name="ScriptModule-4.0" />
      </modules>
      <security>
        <requestFiltering allowDoubleEscaping="true" allowHighBitCharacters="true">
          <fileExtensions allowUnlisted="true">
            <clear />
          </fileExtensions>
          <hiddenSegments>
            <clear />
          </hiddenSegments>
          <verbs allowUnlisted="true" />
        </requestFiltering>
      </security>
    </system.webServer>
$else$
<configuration>
    <appSettings/>
    <connectionStrings/>
    <system.web>
        <compilation debug="true" >

        </compilation>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows" />
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    </system.web>
$endif$</configuration>
