@using System
@using System.Security.Claims
@using System.Web
@using Microsoft.Owin
@{
    IOwinContext owinContext = Context.GetOwinContext();
    var error = owinContext.Get<string>("oauth.Error");
    var errorDescription = owinContext.Get<string>("oauth.ErrorDescription");
    var errorUri = owinContext.Get<string>("oauth.ErrorUri");
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Authorize Error</title>
</head>
<body>
    <h1>Katana.Sandbox.WebServer</h1>
    <h2>OAuth2 Authorize Error</h2>
    <p>Error: @error</p>
    <p>@errorDescription</p>
</body>
</html>

