<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeN.Web" version="1.0.4208.11274" />
  <package id="Owin" version="0.14" />
  <package id="Owin.Startup" version="0.3.1" targetFramework="net40" />
  <package id="Shouldly" version="1.1.1.1" />
  <package id="TaskHelpers.Sources" version="0.1" />
  <package id="xunit" version="1.9.1" />
</packages>